## Dataframes

In [14]:
import pandas as pd

In [15]:
feeding = {
    'Names': ['John', 'Kingsley', 'Thomas'],
    'Breakfast': [25.2, 36.0, 9.8],
    'Lunch': [21.9, 19.8, 72.4],
    'Dinner': [90.5, 52.1, 68.1],
}

food_table = pd.DataFrame(data=feeding)

print(food_table)

      Names  Breakfast  Lunch  Dinner
0      John       25.2   21.9    90.5
1  Kingsley       36.0   19.8    52.1
2    Thomas        9.8   72.4    68.1

In [16]:
food_table

      Names  Breakfast  Lunch  Dinner
0      John       25.2   21.9    90.5
1  Kingsley       36.0   19.8    52.1
2    Thomas        9.8   72.4    68.1

class question:

Enhance the Company class to:

Include a method calculate_tax() that:

Applies 20% tax if revenue > 100,000

Applies 10% tax otherwise

Update the calculate_profit() method to subtract tax from profit

Use display_summary() to print revenue, tax, expenditure, and final profit

In [7]:
class Company:
    def __init__(self, sales, expenditure):
        self.sales = sales
        self.expenditure = expenditure

    def calculate_tax(self, revenue):
        return revenue * 0.2 if revenue > 100000 else revenue * 0.1

    def calculate_profit(self):
        revenue = self.sales - self.expenditure
        tax = self.calculate_tax(revenue)
        total_profit = revenue - tax
        return revenue, self.expenditure, tax, total_profit

    def display_info(self):
        revenue, expenditure, tax, total_profit = self.calculate_profit()
        print(
            f'{"Total sales:":<20} ${self.sales:.2f}\n'
            f'{"Total expenditure:":<20} ${expenditure:.2f}\n'
            f'{"Total revenue:":<20} ${revenue:.2f}\n'
            f'{"Total tax:":<20} ${tax:.2f}\n'
            f'{"Total profit:":<20} ${total_profit:.2f}\n'
        )


company = Company(100000, 50000)
company.display_info()

Total sales:         $100000.00
Total expenditure:   $50000.00
Total revenue:       $50000.00
Total tax:           $5000.00
Total profit:        $45000.00