# CA2 Rory Sheridan

# Question 1
Read in the below information of a companyâ€™s transactions for the year2022 into a python dictionary files.

### a. Convert each database into a dataframe in python.

In [ ]:
import pandas as pd

In [ ]:
# Declare data.
dbase1 = {
    'TR_ID': [
        'C23',
        'C24',
        'C25',
        'C26',
        'C27',
        'C28',
    ],
    'Product': [
        'Telephone',
        'Monitors',
        'Car',
        'Rent',
        'Services',
        'Training',
    ],
    'Quantitys': [
        420,
        'Ten',
        234,
        114,
        56,
        13,
    ],
    'Purchase_prices': [
        223,
        344,
        223,
        'Tenn',
        'Two',
        223,
    ],
}
dbase2 = {
    'TR_ID': [
        'C23',
        'C24',
        'C25',
        'C26',
        'C27',
        'C28',
    ],
    'Products': [
        'Telephone',
        'Monitors',
        'Car',
        'Rent',
        'Services',
        'Training',
    ],
    'Sale_price': [
        300,
        435,
        329,
        544,
        'thirty',
        329,
    ],
    'Debit': [
        2,
        2,
        2,
        2,
        2,
        2,
    ],
}

dbase3 = {
    'TR_ID': ['C28'],
    'Product': ['Training'],
    'Quantity': [],
    'Purchase_price': [],
    'Sale_price': [],
}